{%extends "homeBundle::layout.html.twig"%}

{% block body %}
    <!-- main content -->
    <div id="content">
      <article>
        <br><font size="4" color="orange">About US</font>
		
      &nbsp;&nbsp;&nbsp; <p align="justify"> After School didirikan pada tahun 2005. After SChool merupakan lembaga bimbingan belajar dan kursus yang menggunakan sistem semi private dengan personal approach. Dengan motto “Your Next stop for fun & learning”, After School menghadirkan kesungguhan pendampingan belajar melalui program Learning Concept yang memadukan antara pengalaman, perhatian dan sistem belajar yang terstruktur. </p>

&nbsp;&nbsp;&nbsp;<h2> visi </h2> 
&nbsp;&nbsp;&nbsp;Menjadi penyedia jasa pendidikan terpercaya bagi para siswa  <br><br>

&nbsp;&nbsp;&nbsp;<h2> misi </h2>  
&nbsp;&nbsp;&nbsp;Menyediakan suasana belajar yang kondusif bagi tiap siswa melalui pendekatan personal  <br><br>

&nbsp;&nbsp;&nbsp;<h2> motto </h2> 
&nbsp;&nbsp;&nbsp;Your Next stop for fun & learning

      </article>
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">After SCHOOL</a></p>
    
  </footer>
</div>
{% endblock %}
