{%extends "homeBundle::layout.html.twig"%}

{% block body %}
    <!-- main content -->
    <div id="content"><br>
     
     <font size="4" color="orange"> Perbedaan Otak kanan Dan Otak Kiri </font>
     <br>
	<div align="center"><img src="{{ asset('bundles/home/images/otak2.jpg') }}"> <br />
    </div>
  <h4 align="center">Gambar Ilustrasi Fungsi Otak Kanan & Otak Kiri</h4>
	<div align="justify"><br />
	  Perbedaan dua fungsi otak sebelah kiri dan kanan akan membentuk sifat, karakteristik dan kemampuan yang berbeda pada seseorang. Perbedaan teori fungsi otak kiri dan otak kanan ini telah populer sejak tahun 1960an, dari hasil penelitian Roger Sperry. <br /> 
      <br />
	  
	  Otak besar atau cerebrum yang merupakan bagian terbesar dari otak manusia adalah bagian yang memproses semua kegiatan intelektual, seperti kemampuan berpikir, penalaran, mengingat, membayangkan, serta merencanakan masa depan. <br /> 
      <br />
	  
	  Otak besar dibagi menjadi belahan kiri dan belahan kanan, atau yang lebih dikenal dengan Otak Kiri dan Otak Kanan. Masing-masing belahan mempunyai fungsi yang berbeda. Otak kiri berfungsi dalam hal-hal yang berhubungan dengan logika, rasio, kemampuan menulis dan membaca, serta merupakan pusat matematika. Beberapa pakar menyebutkan bahwa otak kiri merupakan pusat Intelligence Quotient (IQ). <br /> 
      <br />
	  
	  Sementara itu otak kanan berfungsi dalam perkembangan Emotional Quotient (EQ). Misalnya sosialisasi, komunikasi, interaksi dengan manusia lain serta pengendalian emosi. Pada otak kanan ini pula terletak kemampuan intuitif, kemampuan merasakan, memadukan, dan ekspresi tubuh, seperti menyanyi, menari, melukis dan segala jenis kegiatan kreatif lainnya. <br /> 
      <br />
	  
	  Belahan otak mana yang lebih baik? Keduanya baik. Setiap belahan otak punya fungsi masing-masing yang penting bagi kelangsungan hidup manusia. Akan tetapi, menurut penelitian, sebagian besar orang di dunia hidup dengan lebih mengandalkan otak kirinya. Hal ini disebabkan oleh pendidikan formal (sekolah dan kuliah) lebih banyak mengasah kemampuan otak kiri dan hanya sedikit mengembangkan otak kanan. <br /> 
      <br />
	  
	  Orang yang dominan otak kirinya, pandai melakukan analisa dan proses pemikiran logis, namun kurang pandai dalam hubungan sosial. Mereka juga cenderung memiliki telinga kanan lebih tajam, kaki dan tangan kanannya juga lebih tajam daripada tangan dan kaki kirinya. Sedangkan orang yang dominan otak kanannya bisa jadi adalah orang yang pandai bergaul, namun mengalami kesulitan dalam belajar hal-hal yang teknis. <br /> 
      <br />
	  
	  Ada banyak cara untuk mengetahui apakah seseorang dominan otak kanan atau dominan otak kiri. Misalnya dengan melihat perilaku sehari-hari, cara berpakaian, dengan mengisi kuisioner yang dirancang khusus atau dengan peralatan Electroencephalograph yang bisa mengamati bagian otak mana yang paling aktif. <br /> 
      <br />
     </div>
    
  </div>
</div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - After SCHOOL </p>
    </footer>
</div>

{% endblock %}

    