{% extends "homeBundle::layout.html.twig" %}

{% block body %}
    <!-- main content -->
    <div id="content">
      <article><br>
        <font size="4" color="orange">Selamat Datang di Website After SCHOOL</font>
		
      <P> AFTER SCHOOL adalah lembaga pendidikan yang menerapkan pendekatan secara personal (personal approach) di 
	dalam pendampingan proses belajar-mengajar. </P>
       <P> Dengan motto <b> Your Next Stop For Fun & Learning </b>, kami merupakan lembaga pendidikan favorit bagi
	para siswa yang ingin mendapatkan hasil yang memuaskan. </P>
	<P> Kami selalu berusaha menyediakan suasana yang kondusif dan menyenangkan dan mampu memberikan proses 
	pembelajaran yang efektif dengan Best Learning Concept di mana kami didukung oleh guru-guru yang mampu
	memberikan inspirasi, tantangan serta inovasi kepada para siswa sehingga materi dapat lebih mudah dipahami 
	dan proses belajar lebih terstruktur dan terarah.</P>
        
      </article>
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">After SCHOOL</a></p>
    
  </footer>
</div>
{% endblock %}