{%extends "homeBundle::layout.html.twig"%}

{% block body %}
    <!-- main content -->
    <div id="content">
      <article>
      	<br>
        <font size="4" color="orange"> <b>PROGRAM</b></font> <br><br>

&nbsp;&nbsp;&nbsp; <b>Bimbingan Belajar tingkat SMP </b> <br>
&nbsp;&nbsp;&nbsp; Mata pelajaran: Matematika & Fisika
<br><br>
&nbsp;&nbsp;&nbsp; <b> Bimbingan Belajar tingkat SMA </b> <br>
&nbsp;&nbsp;&nbsp; <b>Kelas 1</b>: Matematika, Fisika, Kimia & Akuntansi. <b>Kelas 2IPA & 3IPA</b>: Matematika, Fisika, & Kimia. <br>
&nbsp;&nbsp;&nbsp; <b>Kelas 2IPS & 3IPS</b>: Matematika & Akuntansi
<br><br>
&nbsp;&nbsp;&nbsp; <b> Persiapan UN untuk tingkat SMP </b> <br>
&nbsp;&nbsp;&nbsp; Mata pelajaran: Matematika & Fisika
<br><br>
&nbsp;&nbsp;&nbsp; <b> Persiapan UN untuk tingkat SMA </b> <br>
&nbsp;&nbsp;&nbsp; Mata pelajaran: Matematika, Fisika, Kimia & Akuntansi

</article>
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">After SCHOOL</a></p>
    
  </footer>
</div>
{% endblock %}
		